
* {
  box-sizing: border-box;
  padding: 20px;
}

body {
  text-align: center;
  font-family: Carbli;
}

div#container {
   position: relative;
}

section {
	background-color: gray;
	width: 30%;
	border: 1px solid black;
	float: left;
	margin-right: 15px;
	position: relative;
	
}

#p1 {
  background-color: red;
  border: 1px solid black;
  width: 70px;
  height: 5px;
  color: white;
  position: absolute;
  top: -16px;
  right: 0;
  
  
}

#p2 {
  background-color: blue;
  border: 1px solid black;
  width: 70px;
  height: 5px;
  color: white;
  position: absolute;
  float: right;
  top: -16px;
  right: 0;
    
}

#p3 {
  background-color: green;
  border: 1px solid black;
  width: 70px;
  height: 5px;
  color: white;
  position: absolute;
  float: right;
  top: -16px;
  right: 0;
  
  
  }
/**Simple Responsive Framework*/
.row {
  width: 100%;
}

/* DeskTop - Large devices only :: 992px and above*/
@media (min-width: 992px) {
  #p1 {
  	width: 33%;
  }

  #p2 {
  	width: 33%;
  }
  
  #p3 {
  	width: 33%;
  }
  
}
/* Tablet - Medium devices only :: 768px and 991 px*/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
  	width: 50%;
  }

  #p2 {
  	width: 50%;
  }
  
  #p3 {
  	width: 100%;
  }
  
}

/* Mobile View - Small devices only :: 767px and less*/
@media (max-width: 767px) {
  #p1 {
  	width: 100%;
  }

  #p2 {
  	width: 100%;
  }
  
  #p3 {
  	width: 100%;
  }
  
}

